nav{
    background-color: whitesmoke;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 50px;

}

nav ul li{
    display: inline-block;
    color: white;
    font-weight: bold;
    margin-right: 10px;
    background-color:blue;
    font-size: 50;

}

nav ul{
    text-align: right;
}

input{
    margin-top: 60px;
    margin-bottom: 5px;
    font-size: 20px;
    left: 0px;

 
}

